@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}

  /* header section start*/
  
      /*nav*/

nav{
    width: 100%;
    height: 100px;
    background-color: white;
    
}
.nav-info{
    width: 1000px;
    height: 51px;
    margin: 0 auto;
    margin-bottom: 28px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.nav-info p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    text-align: left;
    margin-top: 5px;
}
.nav-info .btn button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 15px 21px 15px 21px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;
    background-color: white;



}

    /*hero section*/
.hero-section{
    width: 100%;
    height: 580px;
    background-image: url(./assets/Hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 59px;
   

}
.hero-container{
    width: 888px;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.hero-img{
    width: 213.85px;
    height: 213px;
    background-image: url(./assets/Group.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 28px;

}
.hero-info{
    width: 888px;
    height: 188px;
    text-align: center;

}
.hero-info h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 19px;
   


}
.hero-info p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;

    
}
.hero-btn button{
    border-radius: 6px;
    background: rgb(13, 19, 33);
    padding: 16px 19px 16px 19px;
    cursor: pointer;
}
.hero-btn button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    

}    

    /** main part is started**/

 /* web section*/


 .web-section{
    width: 1014px;
    height: 1116px;
    margin: 0 auto;
    border-radius: 12px;
    background: rgba(13, 19, 33, 0.02);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 77px 64px 77px;
    margin-bottom: 70px;
 }
 
    
 
 .web-title{
    width: 100%;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    padding: 0 37px 38px 37px;
    

 }
 .web-title h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    margin-bottom: 19px;

 }
 .web-title p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
 }

  /*code section one  &  three*/


.code-section-one ,.code-section-three
{
    width: 756px;
    height: 268px;
    padding: 38px;
    border-radius: 12px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  

}
.code-section-one .detail, .code-section-three .detail{
    width: 50%;
    height: 100%;
    margin-left: 10px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;

    
}
.code-section-one .detail h3, .code-section-three .detail h3{
    font-size: 19px;
    font-weight: 560;
    line-height: 28px;
    text-align: left;
    margin-bottom: 12px;
}
.code-section-one .detail p, .code-section-three .detail p{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-bottom: 25px;
}

.code-section-one .detail  button,
.code-section-two .detail  button,.code-section-three .detail  button

{
    font-size: 16px;
    font-weight: 480;
    line-height: 18px;
    text-align: center;
    border: 1px solid rgb(13, 19, 33);
    background-color: white;
    opacity: 0.7;

   opacity: 0.7;
   padding: 9px 16px 9px 16px;

}

.code-section-one .img{
    width: 30%;
    height: 99%;
    background-image: url(./assets/Layer_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}   

  /* code section two*/

.code-section-two{
    width: 756px;
    height: 268px;
    padding: 38px;
    border-radius: 12px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 25px;
   
}
.code-section-two .img{
    width: 30%;
    height: 100%;
    background-image: url(./assets/Group\ 3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   

}
.code-section-two .detail{
    width: 64%;
    height: 99%;
    text-align: left;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
}
.code-section-two .detail h3{
    font-size: 19px;
    font-weight: 560;
    line-height: 28px;
    margin-bottom: 12px;

}
.code-section-two .detail p{
    font-size: 12px;
   font-weight: 400;
   line-height: 20px;
   margin-bottom: 25px;
}
  
/* code section three img*/

.code-section-three .img{
    width: 30%;
    height: 99%;
    background-image: url(./assets/Group\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

 /** web section finish**/









